<h1>Cocktails</h1>
<%= cl_image_tag("bwmnwqzpcn2yxuqhiozm",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
<%= link_to  "create new", new_cocktail_path %>

<ol>
  <% @cocktails.each do |drink|%>
    <li>
      <%= link_to drink.name,  cocktail_path(drink) %>
    </li>
  <% end %>
</ol>
